<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Currency Wallet</title>
    @Styles.Render("~/Content/css")
    <script type="text/javascript" src="scripts/require.js"></script>
    <script type="text/javascript" src="scripts/requireconfig.js"></script>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Currency Wallet</p>
        </footer>
    </div>
</body>
</html>
